In [2]:
import pingouin
import pandas as pd

<h1 style="text-align: center" >Age</h1>

<h2>Normality Test</h2>

In [14]:
data = pd.read_csv('variable_data/age.csv')
observations = sum(data.count())
groups = len(data.columns)

<h2>Homoscedasticity Test</h2>

In [16]:
data

,Adolescent,Young Adult,Middle-Aged Adult,Elderly (Young-Old),Oldest-Old
0,7.88,9.11,20.17,13.26,10.98
1,7.18,10.47,9.13,1.36,9.72
2,5.21,8.48,7.90,8.41,17.79
3,4.05,8.58,26.51,9.05,4.62
4,10.66,1.17,18.59,7.51,13.75
...,...,...,...,...,...
292,NaN,7.03,NaN,NaN,NaN
293,NaN,5.50,NaN,NaN,NaN
294,NaN,10.66,NaN,NaN,NaN
295,NaN,10.01,NaN,NaN,NaN
296,NaN,16.32,NaN,NaN,NaN