In [3]:
import pandas as pd
import pingouin as pg

In [78]:
def hypo_test(data_path):
    data = pd.read_csv(data_path)
    groups = len(data.columns)

    data = data.melt(var_name='Group').dropna().reset_index(drop=True)
    observations = len(data)

    shapiro_wilk_result = pg.normality(data, group='Group', dv='value')
    levene_result = pg.homoscedasticity(data, group='Group', dv='value', method='levene')

    kruskal_result = pg.kruskal(data, between='Group', dv='value')
    kruskal_result['Significance'] = kruskal_result['p-unc'].map(lambda x: True if x < 0.05 else False)

    H = kruskal_result['H'].squeeze()
    n2 = ((H-groups+1)/(observations-groups))
    cohens_f = ((n2/(1-n2))**0.5)
    
    power_input = f"No. Observations: {observations}\nNo. Groups: {groups}\nCohen's f: {cohens_f:.5f}"

    return data, shapiro_wilk_result, levene_result, kruskal_result, power_input

<h1 style="text-align:center">Age</h1>

In [79]:
age_data, age_shapiro, age_levene, age_kruskal, age_power_input = hypo_test("variable_data/age.csv")

In [80]:
print(age_power_input)

No. Observations: 615
No. Groups: 5
Cohen's f: 0.04898

<h1 style="text-align:center">BMI</h1>

In [81]:
bmi_data, bmi_shapiro, bmi_levene, bmi_kruskal, bmi_power_input = hypo_test("variable_data/bmi.csv")

In [82]:
print(bmi_power_input)

No. Observations: 462
No. Groups: 4
Cohen's f: 0.01104

<h1 style="text-align:center">Cancer</h1>

In [83]:
cancer_data, cancer_shapiro, cancer_levene, cancer_kruskal, cancer_power_input = hypo_test("variable_data/cancer.csv")

In [84]:
print(cancer_power_input)

No. Observations: 372
No. Groups: 3
Cohen's f: 0.27024

<h1 style="text-align:center">Physical Activity</h1>

In [85]:
physical_data, physical_shapiro, physical_levene, physical_kruskal, physical_power_input = hypo_test("variable_data/physical.csv")

In [86]:
print(physical_power_input)

No. Observations: 609
No. Groups: 3
Cohen's f: 0.14643

<h1 style="text-align:center">Blood Pressure</h1>

In [87]:
bp_data, bp_shapiro, bp_levene, bp_kruskal, bp_power_input = hypo_test("variable_data/bp.csv")

C:\Users\ranjo\AppData\Local\Temp\ipykernel_8544\1033668398.py:16: RuntimeWarning: invalid value encountered in scalar power
  cohens_f = ((n2/(1-n2))**0.5)

In [89]:
bp_kruskal

        Source  ddof1         H    p-unc  Significance
Kruskal  Group      2  0.007052  0.99648         False

In [88]:
print(bp_power_input)

No. Observations: 435
No. Groups: 3
Cohen's f: nan