In [2]:
import pingouin as pg
import pandas as pd

Loading Data

In [3]:
bmi_data = pd.read_csv("bmi.csv")

In [4]:
bmi_data

     Underweight  Normal weight  Overweight  Obese
0           8.97          14.85        8.36  29.03
1          18.58          20.55        2.72   5.32
2          17.18          13.86       11.13   9.58
3           7.03          12.17        4.26  20.32
4           1.93          14.84        7.51  12.41
..           ...            ...         ...    ...
239          NaN          34.37         NaN    NaN
240          NaN           5.15         NaN    NaN
241          NaN           9.16         NaN    NaN
242          NaN           8.93         NaN    NaN
243          NaN           5.50         NaN    NaN

[244 rows x 4 columns]

Converting Data into Long Format (One Row One Observation)

In [5]:
bmi_data_cleaned = bmi_data.melt(var_name='BMI Classification', value_name='Telomere Length').dropna()

In [6]:
bmi_data_cleaned

    BMI Classification  Telomere Length
0          Underweight             8.97
1          Underweight            18.58
2          Underweight            17.18
3          Underweight             7.03
4          Underweight             1.93
..                 ...              ...
774              Obese             9.28
775              Obese            29.95
776              Obese             9.62
777              Obese             2.55
778              Obese             5.58

[462 rows x 2 columns]

Descriptive Statistics

In [7]:
bmi_data.describe()

       Underweight  Normal weight  Overweight      Obese
count    49.000000     244.000000  122.000000  47.000000
mean      9.310408      10.591148    9.264508  11.029149
std       6.600963       7.592905    6.464227   8.373097
min       1.380000       0.690000    0.240000   1.460000
25%       5.210000       5.552500    4.845000   5.860000
50%       7.730000       8.675000    7.680000   8.810000
75%      11.820000      13.082500   11.377500  13.015000
max      35.190000      38.800000   34.000000  38.830000

In [8]:
bmi_data_cleaned.describe()

       Telomere Length
count       462.000000
mean         10.149545
std           7.304372
min           0.240000
25%           5.210000
50%           8.145000
75%          12.530000
max          38.830000

Kruskal-Wallis (H-Test)

In [9]:
kw = pg.kruskal(data=bmi_data_cleaned, dv="Telomere Length", between="BMI Classification", detailed=True)

In [10]:
kw

                     Source  ddof1         H     p-unc
Kruskal  BMI Classification      3  3.055782  0.383104

H-Statistic → η² → Cohen's f

In [16]:
kw_H = kw['H'].squeeze()
kw_n2 = (((kw_H - 4) + 1)/(462-4))
kw_cohens_f = ((kw_n2/(1-kw_n2))**0.5)

In [25]:
print(f"Effect size (η²): {kw_n2}")
print(f"Cohen's f of the test is: {kw_cohens_f.round(3)}")
print(f"Computed Power is: 0.05 (sample size is adjusted to 460) (G*Power)")

Effect size (η²): 0.00012179542537092237
Cohen's f of the test is: 0.011
Computed Power is: 0.05 (sample size is adjusted to 460) (G*Power)