In [1]:
import pingouin as pg
import pandas as pd

Loading Data

In [2]:
physical_data = pd.read_csv("physical.csv")

In [3]:
physical_data

     Sedentary, minimally, lightly active  Moderately active  Highly active
0                                   13.26              11.34           8.97
1                                   30.52               1.81           8.36
2                                   10.95               7.51           2.72
3                                   20.32              11.25          14.85
4                                   17.61               1.63          29.03
..                                    ...                ...            ...
254                                   NaN                NaN          39.46
255                                   NaN                NaN          16.14
256                                   NaN                NaN          10.66
257                                   NaN                NaN          16.32
258                                   NaN                NaN          15.70

[259 rows x 3 columns]

Converting Data into Long Format (One Row One Observation)

In [4]:
physical_data_cleaned = physical_data.melt(var_name='Physical Activity', value_name='Telomere Length').dropna()

In [5]:
physical_data_cleaned

                        Physical Activity  Telomere Length
0    Sedentary, minimally, lightly active            13.26
1    Sedentary, minimally, lightly active            30.52
2    Sedentary, minimally, lightly active            10.95
3    Sedentary, minimally, lightly active            20.32
4    Sedentary, minimally, lightly active            17.61
..                                    ...              ...
772                         Highly active            39.46
773                         Highly active            16.14
774                         Highly active            10.66
775                         Highly active            16.32
776                         Highly active            15.70

[609 rows x 2 columns]

Descriptive Statistics

In [6]:
physical_data.describe()

       Sedentary, minimally, lightly active  Moderately active  Highly active
count                            206.000000         144.000000     259.000000
mean                              12.804709          11.072569      10.096062
std                                8.612388           8.404375       7.644082
min                                0.240000           0.080000       1.060000
25%                                6.772500           5.867500       5.110000
50%                               10.025000           9.090000       7.820000
75%                               17.425000          13.232500      12.570000
max                               41.930000          47.690000      52.920000

In [7]:
physical_data_cleaned.describe()

       Telomere Length
count       609.000000
mean         11.243186
std           8.234721
min           0.080000
25%           5.600000
50%           8.970000
75%          13.860000
max          52.920000

Kruskal-Wallis (H-Test)

In [9]:
kw = pg.kruskal(data=physical_data_cleaned, dv="Telomere Length", between="Physical Activity", detailed=True)

In [10]:
kw

                    Source  ddof1          H     p-unc
Kruskal  Physical Activity      2  14.721032  0.000636

H-Statistic → η² → Cohen's f

In [12]:
sample_size = 609
groups = 3

In [13]:
kw_H = kw['H'].squeeze()
kw_n2 = (((kw_H - groups) + 1)/(sample_size-groups))
kw_cohens_f = ((kw_n2/(1-kw_n2))**0.5)

In [16]:
print(f"Sample Size: {sample_size}")
print(f"No. groups {groups}")
print(f"Effect size (η²): {kw_n2}")
print(f"Cohen's f of the test is: {kw_cohens_f.round(3)}")
print(f"Computed Power is: 0.906 (G*Power)")

Sample Size: 609
No. groups 3
Effect size (η²): 0.02099180174114099
Cohen's f of the test is: 0.146
Computed Power is: 0.906 (G*Power)